.stakan{

    height: 151px;
    border:1px solid black;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 22%;
    margin: 0 auto;
    -webkit-transform: perspective(100px) rotateX(40deg);
    transform: perspective(214px) rotateX(-38deg);
}

#all-products{
    position:relative;
    border: 1px solid white;
    border-radius: 12px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    display: flex;
    color: white;
    justify-content: center;
    justify-items: center;
}

#delete_it{
    cursor: pointer;
    margin-right: 5px;
}

.milk_coffee{
    width: 100%;
    height:10px;
    background: url("../assets/img/3918ecc02d32be5210aa939d36b8267e.jpg");
    background-size: cover;
}

.black_coffee {
    width: 100%;
    height:10px;
    background: url("../assets/img/images.jpg");
    background-size: cover;
}
.sugar {
    width: 100%;
    height:10px;
    background: url("../assets/img/текстура-сахара-76701978.jpg");
    background-size: cover;

}
.caramel{
    width: 100%;
    height:10px;
    background: url("../assets/img/images (1).jpg");
    background-size: cover;
}
.chocolate{
    width: 100%;
    height:10px;
    background: url("../assets/img/images (2).jpg");
    background-size: cover;
}

.container_ingredients{
    text-align: center;
}
.bg-red{
    background: linear-gradient(104.69deg, #A10F2B 31.17%, #551824 83.56%);
}
.container_glass{
    position:relative;
    background: white;
    border-radius: 12px;
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.size{
    background: rgba(196, 196, 196, 0.3);
    border-radius: 13px;
    padding: 7px 26px 6px 17px;
}

.size:active{
    background: white;
}
.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 3rem;
}
.ingredients{
    border: 2px solid white;
    border-radius: 12px;
    color: white;
    text-align: center;
    padding-top: 8px;
    margin-top: 10px;
}
.text-20{
    font-size: 20px;
    margin-bottom: 0!important;
}
.ingredient{
    font-size: 20px;
    cursor: pointer;
    color: black;
}
.ingredient:hover{
    color: white;
}
.button{
    background: #FFFFFF;
    border-radius: 20px;
    border: none;
    color: black;
    padding: 5px 20px;
    font-size: 20px;
    margin-top: 307px;
}

.size-s{
    height: 131px;
    border:1px solid black;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 22%;
    margin: 0 auto;
    -webkit-transform: perspective(100px) rotateX(40deg);
    transform: perspective(214px) rotateX(-38deg);
}

.size-m{
    height: 151px;
    border:1px solid black;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 22%;
    margin: 0 auto;
    -webkit-transform: perspective(100px) rotateX(40deg);
    transform: perspective(214px) rotateX(-38deg);
}

.size-l{
    height: 171px;
    border:1px solid black;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    width: 22%;
    margin: 0 auto;
    -webkit-transform: perspective(100px) rotateX(40deg);
    transform: perspective(214px) rotateX(-38deg);
}
.mww{
    max-height: 277px;
}
